<!-- Botão flutuante -->
<div class="whatsapp-fab" (click)="toggleChat()" aria-label="Abrir chat"></div>

<!-- Balão de conversa -->
<div class="chat-balloon" *ngIf="chatOpen">
<div class="chat-header">
  <img src="../../../assets/beijinho.png" alt="beijinho" width="24" height="24">
  <span>Beijinho</span>
  <button (click)="toggleChat()">✕</button>
</div>


  <div class="chat-body" #chatBody>
    <div *ngFor="let msg of messages" class="chat-message" [ngClass]="msg.sender">
      <p>{{ msg.text }}</p>
    </div>
  </div>

  <div class="chat-footer">
    <input [(ngModel)]="userMessage" placeholder="Digite sua mensagem..." />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
